# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
front/view/node_modules
front/view/.pnp
front/view/.pnp.js

# testing
front/view//coverage

# production
front/view//build

# misc
front/view/.DS_Store
front/view/.env.local
front/view/.env.development.local
front/view/.env.test.local
front/view/.env.production.local

front/view/npm-debug.log*
front/view/yarn-debug.log*
front/view/yarn-error.log*
